$white: #fff;
$black: #000;

$main-bg: #f0efea;
$main-green: #51e3a3;
$plus-icon-green: #3fcb8e;
$button-hover: #3fcb8e;
$main-disable: #e8e8e8;
$main-border: #808080;
$overlay: rgba(0, 0, 0, 0.5);
$font: #5f6065;
